{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="presentation"> Présentation de la figure : {{ figure.nom }}</h1>


    <div class="container groupeDesc">
        <div>
            <!-- Import de police -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">

            <h1 class="titreFigure"> Figure {{ figure.nom }}</h1>

            <!--Caroussel-->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for loopIndex in 0..(figure.images|length - 1) %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loopIndex }}"
                                {% if loopIndex == 0 %}class="active"{% endif %}
                                aria-current="{% if loopIndex == 0 %}true{% else %}false{% endif %}"
                                aria-label="Slide {{ loopIndex + 1 }}"></button>
                    {% endfor %}

                </div>
                <div class="carousel-inner">
                    <div class="carousel-inner">
                        {% if figure.images is not empty %}
                            {% for image in figure.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset('uploads/images/' ~ image.nomDeFichier) }}" class="card-img-top" alt="...">
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img src="{{ asset('uploads/images/pexels-nikita.jpg') }}" class="card-img-top" alt="Default Image">
                            </div>
                        {% endif %}
                    </div>

                  {#  {% for image  in figure.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ asset('uploads/images/' ~ image.nomDeFichier) }}" class="card-img-top"
                                 alt="...">
                            #}{# <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div> #}{#
                        </div>
                    {% endfor %}#}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!--Caroussel-->
        <div class="desciptionPageFigure">
            <h1 class="textDesc"> Description :</h1>
            <div class="textDesc2">
                {{ figure.description }}
            </div>
        </div>
    </div>
    <div class="container">
     <h1 style=" font-family: 'Frijole', cursive; ">Video : </h1>
    {% for video in figure.videos %}
        <iframe width="560" height="315" src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endfor %}
    </div>
<div>
    <div>
        {% if is_granted('ROLE_USER') and figure is not null and figure.user == app.user %}
            <a class="modifFigure" href="{{ path('app_figure_edit', {'id': figure.id}) }}" style="color: black; text-decoration: none">Modifier 🖊️</a>
        {% endif %}
    </div>

    <div>
        {% if is_granted('ROLE_USER') and figure is not null and figure.user == app.user %}
            <a class="suprimerFigure" href="{{ path('app_figure_delete', {'id': figure.id}) }}" methods="POST" style="color: black; text-decoration: none">Supprimer 🗑️</a>
        {% endif %}
    </div>
</div>


    <h1 class="echange" style="font-family: 'Frijole', cursive;">Échange de la communauté</h1>
    {% if is_granted('ROLE_USER') %}
        <!-- Formulaire de commentaire -->
        {{ form_start(form) }}
        <div class="container">

            <div class="btnEnvoiMsg">
                {{ form_row(form.contenu) }}
                <button type="submit" class="envoyer">Envoyer</button>

            </div>




{#            {{ form_row(form.user, { 'value': app.user.id, 'attr': { 'hidden': 'hidden' } }) }}#}

            {{ form_end(form) }}
        </div>
    {% endif %}



{#        {% for commentaire in figure.commentaires %}#}
{#            <div class="container">#}
{#                <div class="infoUser">#}
{#                    <div>#}
{#                        {% if commentaire.user.photo is defined and commentaire.user.photo is not empty %}#}
{#                            <img class="imageUser" src="{{ asset('uploads/' ~ commentaire.user.photo) }}">#}
{#                        {% else %}#}
{#                            <img class="imageUser" src="{{ asset('uploads/LoginSnowboard.png') }}">#}
{#                        {% endif %}#}
{#                        <h2 class="publicationMsg">Publié par {{ commentaire.user.pseudo }} le {{ commentaire.dateMsg ? commentaire.dateMsg|date('d/m/Y') }}</h2>#}
{#                    </div>#}
{#                    <div>#}
{#                        <p class="echangeUser">{{ commentaire.contenu }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#        {% endfor %}#}

{#   </div>#}


{#    <div class="count">
        {{ pagination.getTotalItemCount }} Commentaires
    </div>#}
    <table>
        {# table body #}
        {% for commentaire in pagination %}
            <div class="container">
                <div class="infoUser">
                    <div>
                        {% if commentaire.user.photo is defined and commentaire.user.photo is not empty %}
                            <img class="imageUser" src="{{ asset('uploads/' ~ commentaire.user.photo) }}">
                        {% else %}
                            <img class="imageUser" src="{{ asset('uploads/LoginSnowboard.png') }}">
                        {% endif %}
                        <h2 class="publicationMsg">Publié par {{ commentaire.user.pseudo }} le {{ commentaire.dateMsg ? commentaire.dateMsg|date('d/m/Y') }}</h2>
                    </div>
                    <div>
                        <p class="echangeUser">{{ commentaire.contenu }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="container navigation" >
        {{ knp_pagination_render(pagination) }}
    </div>


{#    {{ form_end(form) }}#}
   {# <div class="container">

        <div>
            <div>
                <div class="infoUser">
                    <div>
                        <img class="imageUser" src="{{ asset('uploads/LoginSnowboard.png') }}">
                        <h2 class="publicationMsg">Publié le <br> 20/04/2023</h2>
                    </div>
                    <div>
                        <textarea class="echangeUser"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>#}




    {#<nav aria-label="Page navigation example">
        <ul class="pagination container" style="justify-content: end">
            <li class="page-item"><a style="color: black" class="page-link" href="#">Precedent</a></li>
            <li class="page-item"><a style="color: black" class="page-link" href="#">1</a></li>
            <li class="page-item"><a style="color: black" class="page-link" href="#">2</a></li>
            <li class="page-item"><a style="color: black" class="page-link" href="#">3</a></li>
            <li class="page-item"><a style="color: black" class="page-link" href="#">Suivant</a></li>
        </ul>
    </nav>#}
{% endblock %}