{% extends 'base.html.twig' %}

{% block body %}
    <!-- Image et titre -->
    <figure>
        <img class="PhotoAccueil" src="{{ asset('image/Accueil.jpg') }}">
        <figcaption>
            <h1 class="titreBienvenue">Bienvenue sur Snow Tricks</h1>
        </figcaption>
    </figure>
    <!-- Import de police -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">
    <h1 class="listFigure">Liste des différentes figures</h1>

    <!--Cards-->
    <div  class="container cardsFigure" style=" padding-top: 8rem;" >

        {% for figure in figures %}
            <a href="{{ path('app_presentation', {'id': figure.id}) }}" style="color: black; text-decoration: none">
                <div  class="card" style="width: 18rem;" >

                    {% if figure.images is not empty %}
                        {% for image in figure.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ asset('uploads/images/' ~ image.nomDeFichier) }}" class="card-img-top cropped-image" alt="...">
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="carousel-item active">
                            <img src="{{ asset('uploads/images/pexels-nikita.jpg') }}" class="card-img-top" alt="Default Image">
                        </div>
                    {% endif %}


                    <div class="card-body">
                        <h5 class="card-title1 no-link-style crop-text">
                            {{ figure.nom }}
                        </h5>
                    </div>
                    <!-- Formulaire de suppression -->
                  {#  {% if is_granted('ROLE_USER') and figure is not null and figure.user == app.user %}
                        <form action="{{ path('app_figure_delete', {'id': figure.id}) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    {% endif %}#}
                </div>
            </a>
        {% endfor %}

    </div>
{% endblock %}
