{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="container titreInscrire">S'inscrire</h1>

    {{ form_start(registrationForm) }}
    <div class="container formNom">

        <div class="form-group">
            {{ form_label(registrationForm.nom) }} <!-- Ajout de l'étiquette "Nom" à l'élément de formulaire "nom" -->
            {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }} <!-- Ajout de la classe "form-control" à l'élément de formulaire "nom" -->
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.prenom, 'Prénom') }}
            {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>

<div class="container utilPhoto">
    <div class="form-group">
        {{ form_label(registrationForm.pseudo, 'Utilisateur') }}
        {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(registrationForm.photo, 'Photo') }}
        {{ form_widget(registrationForm.photo, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

    <div class="container mailPassword">
        <div class="form-group">
            {{ form_label(registrationForm.email, 'Adresse e-mail') }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            <button type="submit" class="btnPageInscription">S'inscrire</button>
        </div>
<div>
        <div class="form-group">
            {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(registrationForm.plainPassword.second, 'Confirmation du mot de passe') }}
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
</div>
    </div>


    {{ form_end(registrationForm) }}
{% endblock %}
