<!-- Barre de navigation -->
<nav class="navbar">
    <div class="nav1">
        <img class="logoNavBar" src="{{ asset('image/Logo.png') }}" alt="logo-snowTricks">
        <a id="TitleNavbar1" class="TitleNavbar" href="{{ path('app_home') }}">Snow Tricks</a>
    </div>
    <div class="nav2">
        <a class="Accueil" href="{{ path('app_home') }}">Accueil</a>
         {# {% if is_granted('ROLE_USER') and figure is not null and figure.user == app.user %}
            <a class="Accueil" href="{{ path('app_figure_edit', {'id': figure.id}) }}">Modifier ma figure</a>
       {% endif %}#}
        <a class="Accueil" href="{{ path('app_figure_create') }}">Ajouter une figure</a>
        <a class="Accueil" href="{{ path('app_register') }}">S'inscrire</a>
        {% if is_granted('ROLE_USER') %}
            <a class="SeConnecter" href="{{ path('app_logout') }}">Se déconnecter</a>
        {% else %}
            <a class="SeConnecter" href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
    </div>
</nav>
