
{% block body %}
    <!-- Barre de navigation -->
<nav class="navbar">
    <div class="nav1">
        <img class="logoNavBar" src="{{ asset('image/Logo.png') }}">
        <a id="TitleNavbar1" class="TitleNavbar">Snow Tricks</a>
    </div>
<div class="nav2">
    <a class="Accueil" href="#">Accueil</a>
    <a class="SeConnecter" href="#">Se connecter</a>
</div>
</nav>
    <!-- Image et titre -->
    <figure>
        <img class="PhotoAccueil" src="{{ asset('image/Accueil.jpg') }}">
        <figcaption>
            <h1 class="titreBienvenue">Bienvenue sur Snow Tricks</h1>
        </figcaption>
    </figure>
    <!-- Import de police -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">
    <h1 class="listFigure">Liste des différentes figures</h1>

    <!--Cards-->
<div  class="container cardsFigure" style=" padding-top: 8rem;">

    <div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div><div class="card" style="width: 18rem;">
        <img src="{{ asset('image/Figure 2.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 href="#" class="card-title1">Mute</h5>
        </div>
    </div>

</div>


{% endblock %}

{% block footer %}

{% endblock %}