<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    <!--Ajouter les liens de style css-->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles_creationFigure.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles_presentationFigure.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles_Connection.css') }}">
<!--Ajout d'un favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ asset('image/Favicon.png') }}"/>
    <!---->
    <!--Ajout de flocons de neige à décommenter pour activer -->
{# <script type="text/javascript" src="https://click123.ca/dist/js/snow.js"></script>#}
    <!---->
</head>
<body>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}

{% block header %}
    {% include "_header.html.twig"%}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
    {% include "_footer.html.twig"%}
{% endblock %}
</body>
</html>